
/* Hide all steps by default: */
.tab {
  display: none;
}

.ck-content{
  height:300px !important;
}


/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.titleTap {
  background-color: #e9ecef;
  height: 40px;
  padding: 8px 1px;
  border: 1px solid #e9ecef;
  border-radius: 3px;
  font-size: 17px;
  font-weight: bold;
}